/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
  background: #111;
}

.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url("https://picsum.photos/1920/1080") no-repeat center top;
  background-size: cover;
  position: relative;
}

section {
  height: 100vh;
  padding: 50px;
  background: #222;

}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  z-index: 1000;

}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}
.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}
.nav-links li a:hover {
  color: #ffeb3b;
}

/* Sections */
header, section {
  padding: 100px 20px;
  text-align: center;
}

header {
  height: 100vh; /* full screen */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
}
